# Streamlit web dependencies for hippie_web

streamlit==1.31.0
pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.1
scikit-learn==1.2.2
umap-learn==0.5.4
bokeh==2.4.3
altair==5.0.1
onnxruntime==1.15.1
joblib
scipy
multiprocess

#include torch used for resizing (F.interpolate)
torch==2.0.1
#orchvision==0.15.2

